* {
    box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, header, main, img, footer {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Montserrat', sans-serif;
}

hr {
    margin-bottom: 0;
}

body{
    background: #221F1F;
}

#header{
    position: relative;
    width: 100%;
    border-bottom: 1px solid #393636;

    height: 65px;
    background-color: #221F1F;
}

#menu{
    position: absolute;
    top: 33%;
    left: 1.6%;
}

#logo{
    position: absolute;

    font-weight: 600;
    font-size: 20px;
    color: #AB23EB;
    padding: 6px;
    top: 15.4%;
    left: 5%;
    border: 3px solid #AB23EB;
    border-radius: 3px;
}

#user{
    position: absolute;
    top:33%;
    right: 1.5%;
}

#login{
    position: absolute;
    font-weight: normal;
    font-size: 18px;
    color: white;
    top: 35%;
    right: 4%;
    padding-left: 5px;
    border-left: 2px solid #4E4C4C;
}

#selectcinema{
    position: absolute;
    top: 25%;
    right: 11.5%;
}

#selectedcinema{
    position: absolute;
    font-weight: normal;
    font-size: 18px;
    top: 35%;
    right: 14%;
    color: #FFFFFF;

}

#main{
    position: absolute;
    width: 100%;

}

#selectedarea{

    position: relative;
    margin-top: 35px;
    margin-left: 290px;
    font-size: 18px;
    color: #FFFFFF;
}

#razdel{

    position: relative;
    display: block;
    text-align: center;

    margin-top: 130px;
    color: #FFFFFF;
    font-size: 30px;


}

#questions{
    position: relative;
    display: block;
    margin-left: 20%;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}

.questionsection{
    display: block;
    background: #2A2727;
    padding: 13px 9px 10px 8px;
    width: 860px;
    border: 1px solid #2A2727;
    border-radius: 12px;
}

#footer{

    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;

}